.navbar-brand img{ 
    background-color:#222D3B;
}
.navbar{
    height: 4rem;
}
.btn-danger {
    color: #fff;
    background-color: #FF637D;
    border-color:#FF637D;
    border-radius: 8px;
}
.btn-danger:hover{
    background-color: #FF637D;
    border-color: #FF637D;
}