.loader {
 position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:#222D3B url('src/assets/images/utilityicons/loader.gif') no-repeat center;
  background-size: 60px 60px;
  opacity: .8;
}
