<!-- <app-navbar></app-navbar>
<router-outlet></router-outlet> -->


<!-- <div class="row m-0">
    <div class="col-lg-12 p-0">
        <app-header></app-header>
    </div>
  </div> -->
  <div class="row m-0">
    <div class="col-lg-2 p-0">
      <div class="nav-brand d-flex justify-content-center align-items-center" style="background-color:#222D3B;height:60px;border-bottom:2px solid white;" > 
        <img src="assets/images/utilityicons/Utilityaid_logo.png" style=" width: 150px;">
        </div>
        <app-navbar></app-navbar>
    </div>
    <div class="col-lg-10 p-0">
      <app-header></app-header>
      <router-outlet></router-outlet>
    </div>
  </div>